.loadingWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.loadingWrap .ballSpinFadeLoad {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loadingWrap .ballSpinFadeLoad.line > div {
  left: 0 !important;
}
